.side-bar {
  background-color: #fff;
}

.btn {
  &:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 3px rgba(#0663F9, 0.25);
  }

  &:focus:hover,
  &.selected:focus {
    box-shadow: 0 0 0 3px rgba(#0663F9, 0.25);
  }
}
